streamlit>=1.38
transformers>=4.44
torch>=2.3
spacy>=3.7.0
spacy-langdetect
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
graphviz
pillow
